services:

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - ${PATH_TO_POSTGRES_DATA}:/var/lib/postgresql/data # Get a backup locally
      - ./conluz-postgres-init.sh:/docker-entrypoint-initdb.d/conluz-postgres-init.sh  # Mount the init.sql script
    restart: always
    networks:
      - conluz_network

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_HTTP_AUTH_ENABLED=true
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
      - INFLUXDB_CONLUZ_USER
      - INFLUXDB_CONLUZ_USER_PASSWORD
    volumes:
      - ${PATH_TO_INFLUXDB_DATA}:/var/lib/influxdb
      - ./conluz-influxdb-init.sh:/docker-entrypoint-initdb.d/conluz-influxdb-init.sh
    restart: always
    networks:
      - conluz_network

  influxdb3-core:
    image: influxdb:3-core
    container_name: influxdb3-core
    ports:
      - "8181:8181"
    volumes:
      - influxdb_data:/var/lib/influxdb3
    command:
      - influxdb3
      - serve
      - --node-id=${INFLUXDB_NODE_ID}
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
    healthcheck:
      test: [ "CMD-SHELL", "curl -f -H 'Authorization: Bearer ${INFLUXDB_TOKEN}' http://localhost:8181/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    networks:
      - conluz_network

  # Official docs here -> https://docs.influxdata.com/influxdb3/explorer/install/?t=Docker+Compose
  influxdb3-explorer:
    image: influxdata/influxdb3-ui:1.3.0
    container_name: influxdb3-explorer
    pull_policy: always
    command: [ "--mode=admin" ]
    ports:
      - "8888:80"
    volumes:
      - ./influxdb3/explorer/db:/db:rw
      - ./influxdb3/explorer/config:/app-root/config:ro
    restart: unless-stopped
    networks:
      - conluz_network

  conluz:
    container_name: conluz
#    image: conluz:latest
    build:
      context: .. # The context defines the directory where your application code resides and the Docker daemon executes the build commands within that context.
      dockerfile: Dockerfile # The dockerfile key points to the Dockerfile that should be used for building the image.
    ports:
      - "8443:8443"
      - "5005:5005"
    # Create a .env file in the folder where this file is located and define the environment variables there.
    # When run docker-compose up, Docker will automatically pick up the .env file in the same directory as this docker-compose.yml file, and substitute the values of the environment variables accordingly.
    environment:
      - CONLUZ_JWT_SECRET_KEY
      - SPRING_DATASOURCE_URL
      - SPRING_INFLUXDB3_URL
      - SPRING_INFLUXDB3_TOKEN
      - SPRING_INFLUXDB3_ORG
      - SPRING_INFLUXDB3_BUCKET
      - CONLUZ_MQTT_SERVER_PASSWORD
      - CONLUZ_MQTT_SERVER_TOPICS
      - CONLUZ_MQTT_SERVER_URI
      - CONLUZ_MQTT_SERVER_USERNAME
      # Add this to JAVA_TOOL_OPTIONS for enabling remote debugging.
#      - -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
      - JAVA_TOOL_OPTIONS=--add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED
    restart: always
    networks:
      - conluz_network
    depends_on:
      - influxdb3-core
      - postgres

  promtail:
    image: grafana/promtail:3.0.0
    container_name: promtail
    ports:
      - "3110:3110"
    volumes:
      - ./promtail/config:/etc/promtail
      - /var/run/docker.sock:/var/run/docker.sock  # Required to let promtail access Docker API
    command: -config.file=/etc/promtail/local-config.yaml
    networks:
      - conluz_network
    depends_on:
      - loki
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/config:/etc/loki
    networks:
      - conluz_network

#  prometheus:
#    image: prom/prometheus:latest
#    container_name: prometheus
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#      - ${PATH_TO_PROMETHEUS_DATA}:/prometheus
#    command:
#      - --config.file=/etc/prometheus/prometheus.yml
#    ports:
#      - 9090:9090
#    restart: always

#  node-exporter:
#    image: prom/node-exporter:latest
#    container_name: node-exporter
#    volumes:
#      - /proc:/host/proc:ro
#      - /sys:/host/sys:ro
#      - /:/rootfs:ro
#    command:
#      - --path.procfs=/host/proc
#      - --path.sysfs=/host/sys
#      - --path.rootfs=/rootfs
#    restart: always

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    environment:
      - SPRING_INFLUXDB3_URL
      - SPRING_INFLUXDB3_TOKEN
      - SPRING_INFLUXDB3_ORG
      - SPRING_INFLUXDB3_BUCKET
      - CONLUZ_MQTT_SERVER_TOPIC_PREFIX
      - CONLUZ_MQTT_SERVER_URI
      - CONLUZ_MQTT_SERVER_USERNAME
      - CONLUZ_MQTT_SERVER_PASSWORD
    depends_on:
      - influxdb
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf
    restart: unless-stopped
    networks:
      - conluz_network

volumes:
  conluz-logs:
  influxdb_data:

networks:
  conluz_network:
    driver: bridge